{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">

    <title>About Me</title>
  </head>

  <body>
    <h1>Something about me</h1>
    <p>Hey, I'm Radka - a beginner in Python, Django and Web development UX/UI. I prepared the simple page in Django for count the words in some text. So you can use it like you want :) Hope that you can find the count you need! Enjoy ! </p>
    <a href="{% url 'home' %}">Return to Homepage</a>
    <img src="/static/img/perso.JPG" alt="my photo" />
  </body>
</html>
