{% extends 'base.html' %}

{% block header %}
  <a href="{% url 'about' %}">About</a>
  <h1>Word Count Page</h1>
{% endblock %}

{% block section-info %}
    <p>This page is just for counting the words in some text. So paste your text into the box and press the buttom below. <br />Enjoy it and have a nice day :)</p>
{% endblock %}

{% block content %}
  <section class="section-form">
    <form action="{% url 'count' %}">
      <textarea cols="100" rows="10" name="fulltext" placeholder="Put your text here:"></textarea>
      <div class="section-form-input">
        <input type="submit" value="Count!" />
      </div>
    </form>
  </section>
{% endblock %}
